.navbar-header {
    display: block;
    float: none;
    margin: 0 auto;
    padding: 0.5em 0 1em;
    text-align: center;
    width: auto;
}

.navbar-brand {
    display: inline-block;
    float: none;
    margin: 0 auto;
    max-width: 150px;

    &.factory {
        display: block;
    }

    path {
        fill: $logo-fg;
    }

    span {
        display: block;
        line-height: 0.3em;
    }
}

@media (min-width: 768px) {
    .navbar > .container  .navbar-brand {
        &.factory {
            margin-left: 0;
        }
    }
}

@media (max-width: 767px) {
    .navbar-header {
        padding: 0;
    }

    .navbar-brand {
        height: auto;
        margin-top: 6px;
        padding: 0;

        &.factory {
            padding-top: 4px;
        }
    }
}