$gutter: 15px;
$sidebar-width: 150px;

$sidebar-bg: #2279C6;
$sidebar-fg: #FFFFFF;
$sidebar-active-bg: #003B6F;

$logo-fg: #FFFFFF;
$link-fg: #2279C6;

$nav-button-highlight: #FFD700;
$nav-button-lowlight: #CCCCCC;
$nav-button-fg: #1E1E1E;
$nav-button-bg: #F4F4F4;

$warning-bg: #FFF2AB;
$success-bg: #C2E683;

$panel-header-bg: #E4E4E4;
$panel-header-fg: #333333;
$sub-panel-header-bg: #F2F2F2;

$header-link-fg: #333333;
$header-widget-fg: #FFFFFF;
$header-widget-bg: #888888;
$header-widget-hover-bg: #2279C6;

$header-bg: #F4F4F4;
$footer-bg: #F4F4F4;

$progress-bg: #888888;
$progress-fg: #2279C6;