@charset "UTF-8";
@import url("https://fonts.bunny.net/css?family=nunito-sans:400");
@import url("/vendor/bootstrap/css/bootstrap.min.css");
@import url("/vendor/jquery-ui/jquery-ui-1.12.1.min.css");
body {
  font-family: "Nunito Sans", sans-serif;
}

a {
  color: #2279C6;
}

/** jQuery UI overrides */
.ui-resizable-se {
  bottom: 0;
  right: 31px;
}

.navbar-inverse {
  background-color: #2279C6;
}
.navbar-inverse .navbar-nav > li > a {
  border-bottom: 2px solid #2279C6;
  color: #FFFFFF;
}
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  border-bottom-color: #FFFFFF;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  background: #003B6F;
}

.navbar-nav {
  float: none;
}
.navbar-nav > li {
  display: block;
  float: none;
}
.navbar-nav > li > .dropdown-menu {
  border: 0;
  bottom: 0;
  left: 150px;
  overflow: scroll;
  position: fixed;
  top: 0;
}
.navbar-nav > li > .dropdown-menu li a {
  padding: 10px 15px;
}
.navbar-nav > li a {
  padding: 10px 15px 10px;
}

.caret {
  border-width: 5px 5px 0 5px;
  position: absolute;
  right: 15px;
  top: 18px;
}

.navbar-right {
  float: none !important;
  margin: 1em 0 0;
}
.navbar-right .dropdown a {
  width: 100%;
  display: flex;
  align-items: baseline;
}
.navbar-right .dropdown a::before {
  display: inline-block;
  flex-grow: 1;
}
.navbar-right .dropdown a[data-target="#notices"]::before {
  content: "Notices";
}
.navbar-right .dropdown a[data-target="#notices"] i.fa {
  display: none;
}
.navbar-right .dropdown a[data-target="#notices"] .badge {
  background-color: #82a5c4;
  margin-right: -3px;
}
.navbar-right .dropdown a[href$=logout]::before {
  content: "Logout";
}

@media (min-width: 768px) {
  .navbar-inverse {
    bottom: 0;
    left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 150px;
  }
  .navbar-inverse .container {
    box-shadow: none;
    padding: 0;
    width: auto;
  }
  .navbar-inverse + .container {
    margin: 0 15px 0 165px;
    max-width: calc(100% - 150px - 30px) !important;
    padding: 15px 0;
    width: auto;
    z-index: 0;
  }
}
@media (max-width: 767px) {
  .navbar-inverse + .container {
    margin-top: 70px;
  }
  .navbar-inverse .navbar-toggle {
    border-color: transparent;
    margin-top: 12px;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    border-bottom: 2px solid transparent;
    color: #FFFFFF;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    border-color: #FFFFFF;
  }
  .navbar .navbar-collapse {
    border-color: #003B6F;
    box-shadow: none;
    max-height: 500px;
  }
  .navbar .navbar-collapse > ul {
    margin: 0 -15px;
  }
}
.navbar-header {
  display: block;
  float: none;
  margin: 0 auto;
  padding: 0.5em 0 1em;
  text-align: center;
  width: auto;
}

.navbar-brand {
  display: inline-block;
  float: none;
  margin: 0 auto;
  max-width: 150px;
}
.navbar-brand.factory {
  display: block;
}
.navbar-brand path {
  fill: #FFFFFF;
}
.navbar-brand span {
  display: block;
  line-height: 0.3em;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand.factory {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .navbar-header {
    padding: 0;
  }
  .navbar-brand {
    height: auto;
    margin-top: 6px;
    padding: 0;
  }
  .navbar-brand.factory {
    padding-top: 4px;
  }
}
.header {
  background-color: #F4F4F4;
  box-shadow: none;
  margin-bottom: 20px;
}

.breadcrumb {
  background: transparent;
  font-size: 1.2em;
  margin: 0;
  padding: 10px 15px;
}
.breadcrumb > li + li::before {
  color: #2279C6;
  content: "⮞";
  display: inline-block;
  padding: 0 10px 0 10px;
  vertical-align: middle;
}

.context-links {
  align-items: center;
  display: flex;
  margin: 0 0.4em 0 0;
  padding: 0;
}
.context-links li {
  display: flex;
  list-style: none;
}
.context-links li a {
  background: #888888;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  margin: 0 2px;
  padding: 0.3em 0;
  text-align: center;
  width: 30px;
}
.context-links li a:hover, .context-links li a:active {
  background-color: #2279C6;
}

@media (min-width: 768px) {
  .header {
    display: grid;
    grid-template-columns: auto min-content;
  }
}
.nav > li > a {
  color: #1E1E1E;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #F4F4F4;
  color: #1E1E1E;
}

.nav-pills {
  margin-bottom: 1em;
}
.nav-pills > li > a {
  border-bottom: 5px solid transparent;
  border-radius: 0;
}
.nav-pills > li a:focus, .nav-pills > li a:hover {
  background-color: transparent;
  border-bottom: 5px solid #CCCCCC;
}
.nav-pills > li.active > a {
  background-color: #F4F4F4;
  border-bottom-color: #FFD700;
  color: #1E1E1E;
  font-weight: bold;
}
.nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #F4F4F4;
  border-bottom: 5px solid #CCCCCC;
  color: #1E1E1E;
}

.nav-tabs {
  margin-bottom: 1em;
}

nav.action-buttons {
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: right;
}

.panel {
  border: 0;
  box-shadow: none;
}

.panel-default.col-sm-10 {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.panel-default > .panel-heading {
  background-color: #E4E4E4;
  border: 0;
  border-radius: 0;
  color: #333333;
  padding: 11px 15px 9px;
}
.panel-default .panel-title {
  column-gap: 1em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  white-space: nowrap;
}
.panel-default .panel-body {
  padding: 0;
}
.panel-default .panel-body .form-group {
  margin-bottom: 10px;
  margin-top: 10px;
}
.panel-default .panel-body .panel-heading {
  background-color: #F2F2F2;
  color: #333333;
}
.panel-default .widget-heading-icon {
  flex-grow: 1;
  margin: -5px -9px -4px;
  text-align: right;
}
.panel-default .widget-heading-icon a, .panel-default .widget-heading-icon a:link, .panel-default .widget-heading-icon a:visited, .panel-default .widget-heading-icon a:hover, .panel-default .widget-heading-icon a:active {
  background: #888888;
  border-radius: 3px;
  color: #FFFFFF;
  display: inline-block;
  padding: 5px 0 4px;
  text-align: center;
  text-decoration: none;
  width: 26px;
}
.panel-default .widget-heading-icon a:hover, .panel-default .widget-heading-icon a:active {
  background: #2279C6;
}

table caption {
  padding: 8px;
}

.help-block td, .help-block th {
  padding: 3px;
}

table[data-sortable].sortable-theme-bootstrap {
  font-family: inherit;
}
table[data-sortable].sortable-theme-bootstrap thead th {
  border-bottom: 0;
}

.table > thead > tr > th {
  border-bottom-width: 1px;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 1px solid #EEEEEE;
}

@media (max-width: 767px) {
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > td,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > thead > tr > th {
    white-space: normal;
  }
}
.form-horizontal {
  margin-bottom: 10px;
  overflow: hidden;
}

.col-sm-10 > .form-control,
.col-sm-10 .input-group {
  width: calc(50% - 15px);
}

.input-group {
  display: flex;
}
.input-group .form-control {
  width: auto;
}
.input-group .form-control:first-child {
  width: 100%;
}

.input-group-addon {
  padding: 10px 1.3em 0 1em;
}

.checkbox.multi label {
  display: block;
  margin-bottom: 0.5em;
}
.checkbox.multi label input[type=checkbox] {
  margin-top: 2px;
}

.dl-horizontal {
  display: grid;
  grid-template-columns: max-content auto;
}
.dl-horizontal dt, .dl-horizontal dd {
  padding: 0.3em;
}
.dl-horizontal dd {
  margin-left: 1em;
}

@media (min-width: 768px) {
  .footer {
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    position: fixed;
    width: 150px;
    z-index: 1040;
  }
  .footer .text-muted {
    color: inherit;
  }
  .footer a {
    color: #FFFFFF;
    text-decoration: underline;
  }
  .footer .container {
    margin: 0;
    width: auto;
  }
}
@media (max-width: 767px) {
  .footer {
    background-color: #F4F4F4;
    margin-top: 3em;
    padding: 0.5em 0;
    text-align: center;
  }
  .footer a {
    color: #2279C6;
  }
  .footer .text-muted {
    color: #333333;
    margin: 0;
  }
  .footer .text-muted .fa {
    padding-top: 0.3em;
  }
}
.bg-success {
  background-color: #C2E683;
}

.bg-warning {
  background-color: #FFF2AB;
}

.text-success {
  white-space: break-spaces;
}

.btn .fa {
  padding-right: 0.3em;
}

.btn-primary {
  background-color: #2279C6;
  border-color: #2279C6;
}

.progress {
  background-color: #888888;
  margin-bottom: 0;
}
.progress + span {
  color: #FFFFFF;
  margin-top: -19px;
  padding-left: 0.3em;
  position: absolute;
}

.progress-bar {
  background-color: #2279C6;
  padding: 2px 0;
}

/** pfSense specific overrides */
#tpl, #tpr {
  display: none !important;
}

#uptodate .text-warning {
  color: #2279C6;
}

#pkgtbl a {
  white-space: nowrap;
}
